@import url('https//fonts.googleapis.com/cs2?family=Poppins:ital,wght@0,100;0;200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;0,1100;0,1200;0,1300;0,1400;0,1500;0,1600;0,1700;0,1800;0,1900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*How to style based on class of button*/
.subscribe-button {
    background-color: rgb(200, 20, 20); /*background color*/
    color: white;   /*color of text*/
    border: none;   /*Kind of border*/
    padding-left: 16px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    margin-right: 8px;  /*Spacing between elements*/
    margin-left: 20px;
    border-radius: 2px; /*Curvature of border, the biger the number the rounder*/
    cursor: pointer;    /*Kind of cursor*/
    transition: opacity 0.15s;
    vertical-align: top;
}

/*psuedo css, adding styling when hovering*/
.subscribe-button:hover {
    opacity: 0.8;
}

/*psuedo css, adding styling when active(clicking)*/
.subscribe-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: white;
    border-color: rgb(40, 116, 249);
    border-style: solid;
    border-width: 1px;
    color: rgb(40, 116, 249);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    padding-left: 16px;
    padding-top: 9px;
    padding-right: 16px;
    padding-bottom: 9px;
    margin-right: 8px;  /*Spacing between elements*/
    margin-left: 20px;
    vertical-align: top;
}

.join-button:hover {
    background-color: rgb(41, 118, 215);
    color: white;
}

.join-button:active {
    opacity: 0.7;

}

.tweet-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 46px;
    height: 40px;
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    padding-left: 16px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    margin-right: 8px;  /*Spacing between elements*/
    margin-left: 20px;
    vertical-align: top;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.cart-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 40px;
    width: 180px;
    border-radius: 35px;
    font-size: 15px;
    margin: 8px;
}

.glowing-button {
    background-color: cyan;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    height: 45px;
    width: 165px;
    box-shadow: o o 5px cyan,
    0 0 25px cyan;
}

.glowing-button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.addToCart-button {
    background-color: yellow;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 120px;
}

.buy-button {
    background-color: orange;
    color: black;
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
}

.subscribe-button {
    color: red;
    background-color: aquamarine;
    margin: 6px;
    padding: 4px;
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 4px;
    outline: 1px;
    outline-color: plum;
    font-size: 14px;
}

.help-button {
    background-color: lightblue;
    color: ghostwhite;
    margin: 7px;
    padding: 5px;
    height: 40px;
    width: 110px;
    border: 2px;
    border-color: darkorchid;
    border-radius: 15px;

}
.inventory {
    font-size: 20px;
    color: rgb(49, 178, 49);
}

.stop-btn {
    background: red;
    color: maroon;
    height: 39px;
    width: 39px;
    margin: 7px;
}

p {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
}

.neomorph-btn {
    background-color: #e0e0e0;
    border-radius: 30px;
    box-shadow: 7px 7px 15px
    #bebebe, -7px -7px 15px
    #ffffff;
    color: #006c97;
    font-size: 13px;
    font-family: poppins;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.1s ease;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 30px;
}

.neomorph-btn:hover {
    box-shadow: inset 7px 15px #bebebe,
    inset -7px -7px 15px #ffffff;
}

.neomorph-btn:active {
    box-shadow: inset 3px 6px #bebebe,
    inset -3px -3px 6px #ffffff;
    color: #b45a5a;
}